@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(236, 236, 236);
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Inter', sans-serif;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 180rem;
  margin: auto;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

header {
  height: 100%;
  padding: 1.2em 2em;
  background-image: linear-gradient(to right, black, darkblue, black);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

#logo {
  width: 25rem;
}

#titulo1 {
  animation: entradaLateral 0.5s ease-out forwards;
}

@keyframes entradaLateral {
  0% { transform: translateX(60rem); opacity: 0; }
  50% { transform: translateX(10rem); opacity: 1; }
  80% { transform: translateX(-2rem); opacity: 1; }
  100% { transform: translateX(0); opacity: 1; }
}

.tremor {
  animation: tremer 0.3s ease-in-out 3;
}

@keyframes tremer {
  0% { transform: translateX(0); }
  20% { transform: translateX(-1rem); }
  40% { transform: translateX(1rem); }
  60% { transform: translateX(-0.7rem); }
  80% { transform: translateX(0.7rem); }
  100% { transform: translateX(0); }
}

nav {
  position: relative;
  display: flex;
  align-items: center;
}

#menu {
  position: absolute;
  right: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#secao1 {
  background-image: url("imagens/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  height: 18rem;
  width: 100%;
}

#secao1 h1 {
  color: white;
  text-align: center;
  font-size: 2.8rem;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.658);
}

#secao1 p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1rem;
  width: 40rem;
}

#secao1 button {
  padding: 0.3rem 0.5rem;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  position: absolute;
  right: 1.5rem;
}

#secao2 h3 {
  margin: 1rem 0 2.5rem;
}

#conceito {
  font-size: 1.3rem;
  width: 65rem;
  margin: 1.5rem 0 3rem;
}

#subtitulos {
  font-size: 1.2rem;
  color: black;
}

#div1, #div2, #div3, #div4 {
  display: flex;
  align-items: center;
  border: 0.1rem solid rgba(128, 128, 128, 0.692);
  border-radius: 0.5rem;
  width: 18rem;
  padding: 1rem;
  font-size: 1rem;
  color: rgba(0, 0, 255, 0.801);
  margin-bottom: 4rem;
}

#primeirasDivs {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

#secao3 {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 2.5rem;
  border-radius: 0.5rem;
  flex-direction: column;
}

#secao3 li {
  font-size: 1rem;
  margin: 0.2rem 0.8rem;
}

#divsecao3 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#secao3 span {
  font-size: 1.2rem;
}

#secao3 a {
  color: black;
  text-align: center;
  display: block;
  margin: 1rem;
  padding: 0.8rem;
  background-color: rgba(224, 224, 224, 0.822);
  border-radius: 0.5rem;
}

#div5, #div6, #div7 {
  border: 0.1rem solid rgba(128, 128, 128, 0.692);
  padding: 1rem;
  width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

#pagamento {
  font-size: 2rem;
  display: inline-block;
}

#secao3 div ol {
  margin: 0.5rem 0.3rem;
  list-style-type: square;
}

footer {
  display: flex;
  margin-top: 2rem;
  height: 5rem;
  background-image: linear-gradient(to right, rgb(236, 236, 236), lightgray, rgb(236, 236, 236));
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

#iconeMenu {
  display: none;
}

@media screen and (max-width: 600px) {
  body, html {
    width: auto;
  }
  header a {
    display: none;
  }
  header {
    height: 2.5rem;
    padding: 1rem 0.2rem;
  }
  header #iconeMenu {
    display: block;
  }
  #secao1>#titulo1 h1 {
    font-size: 0.9rem;
  }
  #logo {
    width: 10rem;
  }
  #secao1 {
    margin-top: 1.5rem;
    height: 7rem;
  }
  #conceito {
    width: 100%;
    font-size: 1rem;
  }
  #primeirasDivs {
    flex-wrap: wrap;
  }
  #primeirasDivs div {
    width: 12rem;
    margin: 0;
  }
  #divsecao3 {
    flex-wrap: wrap;
    justify-content: center;
    width: 17rem;
    margin: auto;
  }
  #secao4 h1 {
    font-size: 1.2rem;
  }
  footer {
    font-size: 0.8rem;
    height: 3rem;
  }
}

#sobre {
  border-radius: 0.5rem;
  font-size: 1.4rem;
  text-align: justify;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.74);
  width: 79rem;
  margin: 0 auto 1.5rem;
}
